.env
repo_details.json
repo_summary.csv

repo_details_new.json
repo_summary_new.csv

repo_doc2vec.model
repo_doc2vec.model.syn1neg.npy
repo_doc2vec.model.wv.vectors.npy

test.txt

move/

embeddings.npy

.DS_Store